<style>
  :root {
    /* Primary theme color */
    --primary-color: #b6bfe2;
    /* Primary theme text color */
    --primary-text-color: #3760bf;
    --primary-text-color-over: #000;
    /* Primary theme link color */
    --primary-link-color: #387068;
    /* Secondary color: the background body color */
    --secondary-color: #e9e9ec;
    --secondary-text-color: #3760bf;
    /* Highlight text color of table of content */
    --toc-highlight-text-color: #3760bf;
    --toc-background-color: #e1e2e7;
    --code-color: #587539;
    --code-background-color: #e1e2e7;
    --shadow-color: #8990b3;
    /* Font used for headers (h1 & h2) */
    --header-font-family: "Google Sans", sans-serif;
    /* Font used for text */
    --text-font-family: "Google Sans", sans-serif;
  }
</style>
