{% extends "section.html" %}

<!-- This file is used to customize the personnel page. -->

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>
<ul>
  <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->  
  {% set categories = get_taxonomy(kind="role") %}
  {% for category in categories.items %}
	<h2> {{category.name}} </h2>
	{% for person in category.pages %}
	<h3> {{person.title}} </h3>
	<a href={{person.path}}>homepage</a>
	<br>
	TODO: person's image
	{% endfor %}
  {% endfor %}
</ul>
{% endblock content %}
