{% extends "section.html" %}

<!-- This file is used to customize the personnel page. -->

{% block content %}
<h1 class="title">{{ section.title }}</h1>
{% set categories = get_taxonomy(kind="role") %} {% for category in
categories.items %}
<h2 id="{{category.name | slugify}}">
	<a href="#{{category.name | slugify}}">{{category.name}}</a>
</h2>
{% for person in category.pages %}
<a href="{{person.path}}"><h3>{{person.title}}</h3></a>
{% if person.description %}
{{person.description}}
{% endif %}
<!-- TODO: person's image -->
{% endfor %} {% endfor %} {% endblock content %}
